<%- contentFor('HeaderCss') %>
<link
    href="public/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css"
    rel="stylesheet"
    type="text/css"
/>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div
            class="page-title-box d-flex align-items-center justify-content-between"
        >
            <h4 class="mb-0">Dashboard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Mustahik App</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<h1>Selamat Datang, <%= data[0].fullname %></h1>
<br /><br />

<%- contentFor('FooterJs') %>

<!-- apexcharts -->
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- jquery.vectormap map -->
<script src="public/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
<script src="public/assets/libs/admin-resources/jquery.vectormap/maps/indo.js"></script>

<!-- Required datatable js -->
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="public/assets/js/pages/dashboard.init.js"></script>
<%- contentFor('BottomJs') %>
