<%- contentFor('HeaderCss') %>
<link
    href="public/assets/libs/select2/css/select2.min.css"
    rel="stylesheet"
    type="text/css"
/>
<style>
    .required {
        color: red;
    }
</style>
<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
            <h4 class="mb-sm-0">Tambah Mustahik Perorangan</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="mustahik-perorangan">Mustahik Perorangan</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Tambah Mustahik Perorangan
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form
                    class="custom-validation"
                    action="/mustahik-perorangan/add"
                    method="POST"
                >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label
                                    >Nama Lengkap
                                    <small class="required">*</small></label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    required
                                    placeholder="Masukan Fullname"
                                    name="fullname"
                                    id="fullname"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">KTP Number</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Masukan KTP Number"
                                    name="ktp_number"
                                    id="ktp_number"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tanggal Lahir</label>
                                <input
                                    type="date"
                                    class="form-control"
                                    name="tgl_lahir"
                                    id="tgl_lahir"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tempat Lahir</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Masukan Tempat Lahir"
                                    name="tempat_lahir"
                                    id="tempat_lahir"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Had Kipayah</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Masukan Had Kipayah"
                                    name="had_kipayah"
                                    id="had_kipayah"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"
                                    >Jumlah Tanggungan</label
                                >
                                <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Masukan Jumlah Tanggungan"
                                    name="jumlah_tanggungan"
                                    id="jumlah_tanggungan"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Penghasilan</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Masukan Penghasilan"
                                    name="penghasilan"
                                    id="penghasilan"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"
                                    >Gender
                                    <small class="required">*</small></label
                                >
                                <select
                                    class="form-control"
                                    name="gender"
                                    id="gender"
                                    required
                                >
                                    <option>Pilih Gender</option>
                                    <option value="pria">Pria</option>
                                    <option value="wanita">Wanita</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Alamat</label>
                                <textarea
                                    class="form-control"
                                    name="alamat"
                                    id="alamat"
                                ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Negara</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="negara"
                                    id="negara"
                                    value="Indonesia"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Provinsi</label>
                                <select
                                    class="form-control select2"
                                    name="provinsi"
                                    id="provinsi"
                                    required
                                >
                                    <option value="">Pilih Provinsi</option>
                                    <% provinsi.forEach(function(p){ %>
                                    <option value="<%= p.id %>" data-id="<%= p.id %>">
                                        <%= p.name %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Kota/Kabupaten</label>
                                <select
                                    class="form-control select2"
                                    name="kota_kab"
                                    id="kota_kab"
                                    disabled
                                    required
                                >
                                    <option value="">
                                        Pilih Kota / Kabupaten
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Kecamatan</label>
                                <select
                                    class="form-control select2"
                                    name="kec"
                                    id="kec"
                                    required
                                    disabled
                                >
                                    <option value="">Pilih Kecamatan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Kelurahan/Desa</label>
                                <select
                                    class="form-control select2"
                                    name="kel_desa"
                                    id="kel_desa"
                                    disabled
                                    required
                                >
                                    <option value="">
                                        Pilih Desa / Kecamatan
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status Menikah</label>
                                <select
                                    class="form-control"
                                    name="status_menikah"
                                    id="status_menikah"
                                    required
                                >
                                    <option>Pilih Status Menikah</option>
                                    <option value="menikah">Menikah</option>
                                    <option value="belum_menikah">
                                        Belum Menikah
                                    </option>
                                    <option value="janda">Janda</option>
                                    <option value="duda">Duda</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"
                                    >Jenis Mustahik
                                    <small class="required">*</small></label
                                >
                                <select
                                    class="form-control"
                                    name="jenis_mustahik"
                                    id="jenis_mustahik"
                                    required
                                >
                                    <option>Pilih Jenis Mustahik</option>
                                    <option value="distribusi">
                                        Distribusi
                                    </option>
                                    <option value="pemberdayaan">
                                        Pemberdayaan
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"
                                    >Asnaf Mustahik
                                    <small class="required">*</small></label
                                >
                                <select
                                    class="form-control"
                                    name="asnaf_mustahik"
                                    id="asnaf_mustahik"
                                    required
                                >
                                    <option>Pilih Asnaf Mustahik</option>
                                    <option value="fakir">Fakir</option>
                                    <option value="miskin">Miskin</option>
                                    <option value="fisabilillah">
                                        Fisabilillah
                                    </option>
                                    <option value="amil">Amil</option>
                                    <option value="gharimin">Gharimin</option>
                                    <option value="musafir">Musafir</option>
                                    <option value="mualaf">Mualaf</option>
                                    <option value="hamba sahaya">
                                        Hamba Sahaya
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Foto</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    name="url_photo"
                                    id="url_photo"
                                    disabled
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">KTP</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    name="url_ktp_file"
                                    id="url_ktp_file"
                                    disabled
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">KK</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    name="url_kk_file"
                                    id="url_kk_file"
                                    disabled
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">SKTM</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    name="url_sktm_file"
                                    id="url_sktm_file"
                                    disabled
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"
                                    >Dokumen Lainnya</label
                                >
                                <input
                                    type="file"
                                    class="form-control"
                                    name="url_docs_lain"
                                    id="url_docs_lain"
                                    disabled
                                />
                            </div>
                        </div>
                    </div>

                    <div class="mb-0">
                        <div>
                            <button
                                type="submit"
                                class="btn btn-primary waves-effect waves-light me-1"
                            >
                                Simpan
                            </button>
                            <a
                                href="/mustahik-perorangan"
                                class="btn btn-secondary waves-effect"
                            >
                                Batal
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<script src="public/assets/libs/parsleyjs/parsley.min.js"></script>

<script src="public/assets/js/pages/form-validation.init.js"></script>
<script src="public/assets/libs/select2/js/select2.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>

<script>
    console.error('provinsi', JSON.parse('<%- JSON.stringify(provinsi) %>'));

    $(document).ready(function () {
        $('#provinsi').on('change', function () {
            var idProvinsi = $(this).find('option:selected').data('id');
            if (idProvinsi) {
                $.ajax({
                    url: '/getKotaByProvinsi/' + idProvinsi,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var kota = $('#kota_kab');
                        kota.empty();
                        kota.append(
                            "<option value=''>Pilih Kota/Kabupaten</option>"
                        );
                        $.each(data, function (index, value) {
                            kota.append(
                                "<option value='" +
                                    value.id +
                                    "' data-id='" +
                                    value.id +
                                    "'>" +
                                    value.name +
                                    '</option>'
                            );
                        });
                        $('#kota_kab').prop('disabled', false);
                    },
                });
            } else {
                $('#kota_kab').empty();
                $('#kota_kab').prop('disabled', true);
            }
        });

        $('#kota_kab').on('change', function () {
            var idKota = $(this).find('option:selected').data('id');
            if (idKota) {
                $.ajax({
                    url: '/getKecByKota/' + idKota,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var kota = $('#kec');
                        kota.empty();
                        kota.append(
                            "<option value=''>Pilih Kecamatan</option>"
                        );
                        $.each(data, function (index, value) {
                            kota.append(
                                "<option value='" +
                                    value.id +
                                    "' data-id='" +
                                    value.id +
                                    "'>" +
                                    value.name +
                                    '</option>'
                            );
                        });
                        $('#kec').prop('disabled', false);
                    },
                });
            } else {
                $('#kec').empty();
                $('#kec').prop('disabled', true);
            }
        });

        $('#kec').on('change', function () {
            var idKec = $(this).find('option:selected').data('id');
            if (idKec) {
                $.ajax({
                    url: '/getDesaByKec/' + idKec,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var kota = $('#kel_desa');
                        kota.empty();
                        kota.append(
                            "<option value=''>Pilih Desa / Kelurahan</option>"
                        );
                        $.each(data, function (index, value) {
                            kota.append(
                                "<option value='" +
                                    value.id +
                                    "' data-id='" +
                                    value.id +
                                    "'>" +
                                    value.name +
                                    '</option>'
                            );
                        });
                        $('#kel_desa').prop('disabled', false);
                    },
                });
            } else {
                $('#kel_desa').empty();
                $('#kel_desa').prop('disabled', true);
            }
        });
    });

    const hadInput = document.getElementById('had_kipayah');

    hadInput.addEventListener('input', function (e) {
        // Menghilangkan karakter selain angka
        let nominal = this.value.replace(/\D/g, '');

        // Mengubah nominal menjadi format uang
        nominal = (nominal / 100).toLocaleString('id-ID', {
            style: 'currency',
            currency: 'IDR',
        });

        // Memasukkan nominal yang sudah diformat kembali ke dalam input
        this.value = nominal;
    });
    const penghasilanInput = document.getElementById('penghasilan');

    penghasilanInput.addEventListener('input', function (e) {
        // Menghilangkan karakter selain angka
        let nominal = this.value.replace(/\D/g, '');

        // Mengubah nominal menjadi format uang
        nominal = (nominal / 100).toLocaleString('id-ID', {
            style: 'currency',
            currency: 'IDR',
        });

        // Memasukkan nominal yang sudah diformat kembali ke dalam input
        this.value = nominal;
    });
</script>

<%- contentFor('BottomJs') %>
