<%- contentFor('HeaderCss') %>
<link
    href="public/assets/libs/select2/css/select2.min.css"
    rel="stylesheet"
    type="text/css"
/>

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
            <h4 class="mb-sm-0">Tambah Santunan</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="/santunan">Santunan</a>
                    </li>
                    <li class="breadcrumb-item active">Tambah Santunan</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form
                    class="custom-validation"
                    action="/santunan/add"
                    method="POST"
                >
                    <div class="mb-3">
                        <label for="mustahik_id" class="form-label"
                            >Mustahik</label
                        >
                        <select
                            class="form-control select2"
                            name="mustahik_id"
                            id="mustahik_id"
                            required
                        >
                            <option value="">Pilih Mustahik</option>
                            <% mustahik.forEach(function(m){ %>
                            <option value="<%= m.mustahik_id %>" <%= m.mustahik_id == selected_id ? 'selected' : '' %>>
                                <%= m.pencarian_mustahik %>
                            </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="program_id" class="form-label"
                            >Program</label
                        >
                        <select
                            class="form-control select2"
                            name="program_id"
                            id="program_id"
                            required
                        >
                            <option value="">Pilih Program</option>
                            <% program.forEach(function(p){ %>
                            <option value="<%= p.program_id %>">
                                <%= p.program_name %> - <%= p.program_category
                                %>
                            </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nominal" class="form-label">Nominal</label>
                        <input
                            type="text"
                            class="form-control"
                            name="nominal"
                            id="nominal"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label"
                            >Tanggal Santunan</label
                        >
                        <input
                            type="datetime-local"
                            class="form-control"
                            name="date"
                            id="date"
                            required
                        />
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary waves-effect waves-light me-1"
                    >
                        Simpan
                    </button>
                    <a href="/santunan" class="btn btn-secondary waves-effect">
                        Batal
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

<script src="public/assets/libs/parsleyjs/parsley.min.js"></script>

<script src="public/assets/js/pages/form-validation.init.js"></script>
<script src="public/assets/libs/select2/js/select2.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>

<script>
    const nominalInput = document.getElementById('nominal');

    nominalInput.addEventListener('input', function (e) {
        // Menghilangkan karakter selain angka
        let nominal = this.value.replace(/\D/g, '');

        // Mengubah nominal menjadi format uang
        nominal = (nominal / 100).toLocaleString('id-ID', {
            style: 'currency',
            currency: 'IDR',
        });

        // Memasukkan nominal yang sudah diformat kembali ke dalam input
        this.value = nominal;
    });

    // ambil elemen input datetime-local
    const datetimeInput = document.getElementById('date');

    // buat objek date untuk tanggal saat ini
    const now = new Date();

    // format date and time to be used in datetime-local input
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const day = now.getDate().toString().padStart(2, '0');
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');

    const dateTimeLocalString = `${year}-${month}-${day}T${hours}:${minutes}`;
    console.error(dateTimeLocalString)
    // atur nilai default input datetime-local ke tanggal dan waktu saat ini
    datetimeInput.value = dateTimeLocalString;
</script>

<%- contentFor('BottomJs') %>
