<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link
    href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
    rel="stylesheet"
    type="text/css"
/>
<link
    href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css"
    rel="stylesheet"
    type="text/css"
/>
<link
    href="public/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css"
    rel="stylesheet"
    type="text/css"
/>

<!-- Responsive datatable examples -->
<link
    href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
    rel="stylesheet"
    type="text/css"
/>

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
            <h4 class="mb-sm-0">Data Santunan</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Santunan</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <% if(error.length> 0) { %>
                    <div class="alert alert-danger " role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(message.length> 0) { %>
                    <div class="alert alert-info" role="alert">
                        <%= message %>
                    </div>
                <% } %>
                <% if(success.length> 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="mdi mdi-check-all me-2"></i>
                        <%= success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" fdprocessedid="vytlv"></button>
                    </div>
                <% } %>
                <a href="santunan/add" class="btn btn-primary waves-effect waves-light" fdprocessedid="jzw0r">
                    Tambah <i class="fas fa-pencil-alt align-middle ms-2"></i> 
                </a>
                <br><br>
                <table
                    id="datatable"
                    class="table table-bordered dt-responsive nowrap"
                    style="
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;
                    "
                >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID Santunan</th>
                        <th>Tanggal</th>
                        <th>ID Mustahik</th>
                        <th>KTP</th>
                        <th>Mustahik</th>
                        <th>Program</th>
                        <th>Kategori</th>
                        <th>Nominal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% santunan.forEach((santunan, index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= santunan.santunan_id %></td>
                        <td><%= santunan.tgl_santunan.toLocaleDateString('id-ID', {day: '2-digit', month: '2-digit', year: 'numeric'}) %></td>
                        <td><%= santunan.mustahik_id ? santunan.mustahik_id : '-' %></td>
                        <td><%= santunan.KTP %></td>
                        <td><%= santunan.mustahik %></td>
                        <td><%= santunan.program_name %></td>
                        <td><%= santunan.program_category %></td>
                        <td><%= parseFloat(santunan.nominal).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) %></td>
                        <td>
                            <a href="/santunan/edit/<%= santunan.santunan_id %>" class="btn btn-warning btn-sm waves-effect waves-light" fdprocessedid="jzw0r">
                                Edit <i class="fas fa-pencil-alt align-middle ms-2"></i> 
                            </a>
                            <form method="post" action="/santunan/delete/<%= santunan.santunan_id %>">
                                <button type="submit" class="btn btn-danger btn-sm waves-effect waves-light" fdprocessedid="jzw0r" onclick="return confirm('Kamu yakin ingin menghapus data santunan ini?')">
                                    Delete <i class="fas fa-trash align-middle ms-2"></i> 
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="public/assets/libs/jszip/jszip.min.js"></script>
<script src="public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<script src="public/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="public/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="public/assets/js/pages/datatables.init.js"></script>

<%- contentFor('BottomJs') %>
